{% extends 'blog/base.html' %}{% block title %}Password Reset Done{% endblock %}
{% load static crispy_forms_tags %}


{% block content %}

<header class="masthead" style="background-image: url('{% static 'assets/img/home-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Password reset sent</h1>
                    <span class="subheading">Reset password</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="row">
            <div class="col-md-8 mb-4">
                <h1>Password reset sent</h1>
                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you
                    entered. You should receive them shortly. <br>
                    If you don’t receive an email, please make sure you’ve entered the address you registered with, and
                    check your spam folder.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}