{% extends 'blog/base.html' %}{% block title %}Password Reset Form{% endblock %}
{% load static crispy_forms_tags %}


{% block content %}

<header class="masthead" style="background-image: url('{% static 'assets/img/home-bg.jpg' %}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Reset Password</h1>
          <span class="subheading">reset your passowrd</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="row">
      <div class="col-md-8 mb-4">
        <h1>Password reset</h1>
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        <form class="form-group" action="{% url 'password_reset' %}" method="post">{% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-success mt-2">Reset my password</button><br>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}