{% extends 'blog/base.html' %}{% block title %}Password Change Form{% endblock %}
{% load static crispy_forms_tags %}


{% block content %}

<header class="masthead" style="background-image: url('{% static 'assets/img/home-bg.jpg' %}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Change Password</h1>
          <span class="subheading">Change your passowrd as quick</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="row">
      <div class="col-md-8 mb-4">
        <h1>Password change</h1>
        <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
        <form class="form-group" action="{% url 'password_change' %}" method="post">{% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-success mt-2">Change my password</button><br>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}