{% extends 'blog/base.html' %}{% block title %}Signup{% endblock %}
{% load static crispy_forms_tags %}


{% block content %}

<header class="masthead" style="background-image: url('{% static 'assets/img/home-bg.jpg' %}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Register</h1>
          <span class="subheading">Create your account as quick</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="row">
      <div class="col-md-8 mb-4">
        <h1>Signup</h1>
        <form class="form-group" action="{% url 'login' %}" method="post">{% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-success mt-2">Register</button><br>
          <p>Forgot your password? <a href="{% url 'password_reset' %}" class="text text-info">reset password</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}