{% extends 'blog/base.html' %}{% block title %}{{ object.title }} - {{ object.author.username }}{% endblock %}
{% load static markdown_tools %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({% static 'assets/img/post-bg.jpg' %})">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ object.title }}</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Post Content-->
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="header">
          <p class="subheading">
            <h3>Details</h3>
            Posted by <a href="">{{ object.author.username }}</a>
            on <strong>{{ post.date_created|date:'F d, Y' }}</strong>
            <br>
            Updated on <strong> {{ post.date_updated|date:'F d, Y' }}</strong>
            <br>
            Reading time: <strong>{{ object.reading_time }}</strong>
          </p>
          <hr>
        </div>
        <div>
          <h3>Subheader</h3>
          {{ object.subheading|markdown|safe }}
          <hr>
        </div>
        <div>
          <h3>Content</h3>
          {{ object.body|markdown|safe }}
        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}